@model OpenViewModel
@{
    ViewData["Title"] = "Open Restaurants";
}
<h1>@ViewData["Title"]</h1>

<p>Here are restaurants open on @Model.Date.DayOfWeek @Model.Date at @Model.Time</p>

@foreach(var restaurant in Model.OpenRestaurants)
{
    <div>
        <p>@restaurant.Name</p>
        @foreach(var available in restaurant.Availabilities.Where(a => a.Day == Model.Date.DayOfWeek))
        {
            <div>
                <p>@available.Day from @available.Open to @available.Close</p>
            </div>
        }
    </div>
}
